# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
env/
.venv/

# Ignore IDE specific files (for example, Visual Studio Code)
.vscode/

# Ignore environment variables and secrets
.env
.env.*

# Ignore log files
*.log

# Ignore database files (SQLite, for example)
*.sqlite3

# Ignore system-specific files
.DS_Store  # macOS system file
Thumbs.db  # Windows system file

# Ignore test results
.pytest_cache/

.idea/
